.status-bar {
    /* position: fixed;
    top: 0;
    width: 100%; */
    display: flex;
    /* 상단바 만들기 */
    justify-content: center;
    /* 좌우로 균등하게 배열하기 */
    padding: 5px 3px;
}

.status-bar__column {
    width: 33%;
}


.status-bar__column:first-child span {
    margin-right: 5px;
    /* No Service랑 와이파이 아이콘 사이에 간격 주기  */
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.status-bar__column .fa-battery-full {
    margin: 0px 5px;
}